body {
  background: url("../images/pattern.jpg");
}

h1 {
    width: 100%;
    height: 90px;
    padding: 20px;
    margin-top: 20px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 90px;
    color: black;
    text-align: center;
    font-family: 'Satisfy', cursive;  
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  
}

.panel {
    position: relative;
    margin-left: 249px;
    margin-top: 20px;
    height: 430px;
    max-width: 400px;
    padding: 30px;
    background: #fff;
    border: 1px solid black;
    border-radius: 25px;
}

h2 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#top {
    margin-top: 20px;
    text-align: center;
}

#theWord {
    font-size: 30px;
}

#inputDiv {
    text-align: center;
}

input {
    text-align: center;
}

#guessesDiv {
    text-align: center;
}

#guesses {
    margin-top: 40px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: red;
}

#livesDiv {
    text-align: center;
}

#winsDiv {
    text-align: center;
}

#wins {
    display: inline-block;
    padding-right: 40px;
}

#losses {
    display: inline-block;
}

@media screen and (max-width: 1000px){
    .panel {
        margin-left: 270px;
    }
}

@media screen and (max-width: 900px){
    .panel {
        margin-left: 220px;
    }
}

@media screen and (max-width: 800px){
    .panel {
        margin-left: 170px;
    }
}

@media screen and (max-width: 700px){
    .panel {
        margin-left: 120px;
    }
}

@media screen and (max-width: 650px){
    .panel {
        margin-left: 95px;
    }
}

@media screen and (max-width: 630px){
    .panel {
        margin-left: 75px;
    }
    h1 {
        width: 400px;
        margin-left: 75px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 550px){
    .panel {
        margin-left: 35px;
    }
    h1 {
        width: 400px;
        margin-left: 35px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 500px){
    .panel {
        width: 250px;
        margin-left: 90px;
    }
    h1 {
        width: 400px;
        margin-left: 20px;
        margin-bottom: 100px;
    }
}
